
// Tabs ----------------------------------------------

@theme-tabsizing: ~'theme-@{ui-theme-name}-tabsizing';


// Maximum ---------------

[@{theme-tabsizing}="maximum"] {
  .tab,
  .tab.active {
    max-width: none; // expand as much as possible
    min-width: @tab-min-width / 4;
  }
}


// Minimum ---------------

[@{theme-tabsizing}="minimum"] {
  .tab,
  .tab.active {
    flex: 0 0 auto;
    min-width: 2.75em;
  }
}
