// Variables

@auto-breakpoint-width: 1000px;
@auto-breakpoint-height: 600px;




// Small tabs mode ----------------------------------------------

// TODO: Fix minimum, remove auto, add maxiumum

@theme-tabsizing: ~'theme-@{ui-theme-name}-tabsizing';

[@{theme-tabsizing}="maximum"] {
  .tab,
  .tab.active {
    max-width: none; // expand as much as possible
    min-width: @tab-min-width / 4;
  }
}


[@{theme-tabsizing}="minimum"] {
  .tab,
  .tab.active {
    flex: 0 0 auto;
    min-width: @ui-tab-height;
  }

  .tab .close-icon.close-icon.close-icon {
    top: .86em; // should be .875em but that messes up the pixel snapping
    right: .46em; // again some random number helps with pixel snapping of the width
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25;
  }
  .tab .close-icon::before {
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25;
  }

  .tab .title {
    -webkit-mask: none;
    margin-left: 1.25em;
    margin-right: 1.25em;
  }
}
